<% include partials/header %>

    <div class="ui main text container segment">
        <!--<div class="ui top attached header">-->
        <div class="ui huge header">Movie Index</div>
        <!--</div>-->
        <!--<div class="ui attached segment">-->
        <div class="ui divider"></div>

        <%movie.forEach(function(movie){%>
            <div class="ui items">
                <div class="item">
                    <div class="image">
                        <a href="/movie/<%= movie._id %>" class="ui small image">
                        <img class="ui rounded image" src="<%=movie.poster%>">
                        </a>
                    </div>
                    <!--</a>-->
                    <div class="content" id="index_content">
                        <a href="/movie/<%= movie._id %>" class="header">
                            <%= movie["title"] %>
                        </a>
                        <div class="meta"><span>Year : <%= movie.year %></span></div>
                        <!--<div class="description">-->

                        <!--    <%- movie.plot %>...-->
                        <!--</div>-->
                        <div class="extra">
                            <a href="/movie/<%= movie._id %>" class="ui blue basic button">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
            </div>
            <% }) %>
    </div>

    <% if (pages > 0) { %>
        <% include partials/pagination %>
            <% } %>


                <% include partials/footer %>
