<% include partials/header %>
    <!--//////////////////////////////-->

    <!--Content-->

    <div class="container m-2 p-0 text-light">
        <h3>Movie
            <small class="text-muted">Index</small>
        </h3>
    </div>

    <!--Cardbody-->
    <div class="container-fluid m-0 p-0">
        <div class="row m-0 p-0 card-deck">
            <!--<div class="card-deck">-->
            <%movie.forEach(function(movie){%>

                <div id="card" class="col-4 col-md-2 text-light m-0 p-0 flex-shrink-1 flex-grow-1">
                    <a href="/movie/<%= movie._id %>">
                        <div class="img shad">
                            <img src="<%=movie.poster%>" alt="<%= movie.title %>" class="card-img-top rounded-top" alt="...">
                        </div>
                        <div class="card-body rounded-bottom shad flex-shrink-1 flex-grow-1">
                            <div class="title">
                                <h5 class="card-title">
                                    <%= movie["title"] %>
                                </h5>
                            </div>
                            <p class="card-text d-none d-md-block">
                                <%- movie.plot %>
                            </p>
                            <div class="bottom-content d-flex align-items-center justify-content-between">
                                <h5 class="year p-0  m-0">
                                    <%= movie.year %>
                                </h5>
                                <div class="starts d-flex align-items-center">
                                    <i class="fas fa-star"></i>
                                    <h5 class="rating px-2 m-0">
                                        <%= movie.imdb["rating"] %>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <% }) %>
                    <!--</div>-->

        </div>
    </div>

    <% if (pages > 0) { %>
        <% include partials/pagination %>
            <% } %>

                <!--/////////////////////////////-->
                <% include partials/footer %>
